.home-panel {
    padding: 60px 0;
}

.blog-meta {
    color: $text-meta;
}

.top-header {
    z-index: 999;
    padding: 0 2%;
    color: #fff;
    nav{
        background: none;
        border: 0;
        .nav-search {
            margin-right: 20px;
            margin-top: 14px;
        }
        .logo {
            font-size: 1.4em;
            margin-top: 10px;
            font-weight: 800;
        }
        .logo:first-letter {
            font-weight: normal;
        }
    }
}

#carousel-example-generic {
    .carousel-caption {
        top: 40%;
        text-align: left;
        .item-position {
            width: 50%;
        }
        h1 {
            font-weight: 700;
            text-transform: uppercase;
        }
        .meta-info {
            color: $text-meta;
        }
    }

    .carousel-inner {
        img {
        width: 100%;
        }
    }
}


.thumbnail {
    padding: 0;
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
        h3 {
            font-weight: 700;
        }
}

.blog-thumbnails {
    .blog-meta {
        font-size:  .7em;
    }
}


.good-read {
    background: #fafafa;
}

.header-main {
    h3 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }
    hr {
        margin-top: -5px;
        text-align: center;
        width: 30px;
        border-top: 3px solid #222;
    }
}


footer {
    background: $superdark;
    color: #e2e2e2;
    h5 {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.footest {
    background: $binay;
}
