.btn-outline {
    border: 2px solid #555;
    border-radius: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
    color: #555;
    font-weight: 700;
}


.btn-dark {
    border: 1px solid $superdark;
    background: $superdark;
    color: #fff;
}
