<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
          Sample
      {% endblock %}
    </title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="top-header">
      <nav class="navbar navbar-default navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-left">
        <ul class="nav navbar-nav">
            <li><a href="#menu"><i class="glyphicon glyphicon-menu-hamburger white"></i></a></li>
            <li class="logo">XSPORTS</li>
        </ul><!-- /.nav -->
        </div><!-- /.left-nav -->
        <div class="navbar-right nav-search">
            <i class="glyphicon glyphicon-search white"></i>
        </div><!-- /.right-nav -->
      </div><!-- /.container-fluid -->

      </nav>
    </header>
    <section class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
            <img src="images/1.jpg" alt="...">
                <div class="carousel-caption">
                <div class="item-position pull-left">
                    <h1>EXTREME SURFING GUIDE 2</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nam, laboriosam omnis laudantium ea consequuntur quos. Dignissimos aliquid neque architecto.</p>
                    <p class="meta-info">ERIC MATI / SPORTS NEWS / JANUARY 2, 2016</p>
                </div>

                </div>
            </div>

            <div class="item">
            <img src="images/2.jpg" alt="...">
                <div class="carousel-caption">
                <div class="item-position pull-left">
                    <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nam, laboriosam omnis laudantium ea consequuntur quos. Dignissimos aliquid neque architecto.</p>
                    <p class="meta-info">ERIC MATI / SPORTS NEWS / JANUARY 2, 2016</p>
                </div>
                </div>
            </div>

            <div class="item">
            <img src="images/3.jpg" alt="...">
                <div class="carousel-caption">
                <div class="item-position pull-left">
                    <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nam, laboriosam omnis laudantium ea consequuntur quos. Dignissimos aliquid neque architecto.</p>
                    <p class="meta-info">ERIC MATI / SPORTS NEWS / JANUARY 2, 2016</p>
                </div>
                </div>
            </div>

        </div>
    </div>
    </section><!-- /.banner -->

    <section class="content home-panel">
      <div class="container">
          <div class="header-main">
              <h3>SPORTS NEWS</h3>
              <hr />
          </div>
          <div class="home-filter">
              <ul class="list-inline text-center">
                  <li><span class="glyphicon glyphicon-filter"></span>Filter</li>
                  <li>
                  <select name="category" id="category" class="form-control">
                    <option value="sports">Sports</option>
                    <option value="life">Life</option>
                  </select>
                  </li>
                  <li>
                <select name="category" id="category" class="form-control">
                    <option value="sports">Sports</option>
                    <option value="life">Life</option>
                </select>
                  </li>
              </ul><!-- /.list-inline -->
          </div>

          <div class="row home-panel">

              <div class="col-sm-6">
                <div class="thumbnail">
                  <img src="images/4.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae.</p>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                  <img src="images/5.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae.</p>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                <div class="thumbnail">
                  <img src="images/2.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>

                              <div class="col-sm-4">
                <div class="thumbnail">
                  <img src="images/1.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="thumbnail">
                  <img src="images/3.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>
            </div><!-- /.row -->

          <div class="see-all home-panel text-center">
            <a href="#" class="btn btn-outline">See All</a>
          </div><!-- /.see-all -->
      </div><!-- /.container -->
    </section><!-- /.content -->

    <section class="good-read home-panel">
    <div class="container">
      <div class="header-main">
        <h3>Good Reads</h3>
        <hr />
      </div><!-- /.home-head -->
      <div class="blog-thumbnails home-panel">
              <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="images/3.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>
                      <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="images/4.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>
                            <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="images/5.jpg" alt="...">
                  <div class="caption">
                    <h3>Colder than your Ex, Extreme climb</h3>
                    <p class="blog-meta">
                        Eric Mati / Sports News / January 2, 2016
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>
                            <div class="col-sm-3">
                <div class="thumbnail">
                  <div class="caption">
                    <h2>See All...</h2>
                    <p class="blog-meta">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat!
                    </p><!-- /.blog-meta -->
                  </div>
                </div>
              </div>
      </div><!-- /.blog-thumbnails -->
    </div><!-- /.container -->
    </section><!-- /.good-read -->

    <section class="contributor home-panel">
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2><strong>Want to become a contributor?</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum culpa, magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, ipsam, quasi!</p>
        <div class="call-action tiny-padding">
          <a href="#" class="btn btn-outline btn-dark">Get in touch</a>
        </div><!-- /.call-action -->
        </div><!-- /.col-sm-6 -->


      </div><!-- /.container -->
    </section><!-- /.contributor -->

    <footer class="home-panel">
    <div class="container">
      <div class="footer-about col-sm-3">
        <h5>Who we are</h5>
        <h3 class="logo-text"></h3><!-- /.logo-text -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt consequuntur tenetur nemo accusantium, neque libero pariatur fugiat.</p>
        <a href="#" class="link">Learn More</a>
      </div><!-- /.footer-about -->
      <div class="footer-quicklinks col-sm-3">
      <h5>Quicklinks</h5>
        <ul class="list-unstyled">
          <li><a href="#">Latest Blog Entries</a></li>
          <li><a href="#">Popular</a></li>
          <li><a href="#">Editor's Pick</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div><!-- /.footer-quicklinks -->
      <div class="footer-touch col-sm-3">
      <h5>Get in touch</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo expedita reprehenderit fugiat, maiores pariatur porro minus.</p>
        <ul class="list-unstyled">
          <li> <i class="glyphicon glyphicon-map-marker"></i> Location 993, Global Enterprise, Door 4, Davao City</li>
          <li> <i class="glyphicon glyphicon-envelope"></i> xsports@xsports.com</li>
          <li> <i class="glyphicon glyphicon-phone"></i> +638248757</li>
        </ul>
      </div><!-- /.footer-touch -->
      <div class="footer-subscribe col-sm-3">
      <h5>Free updates</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nobis, dolor asperiores consequuntur! Tempora, eaque rerum. lorem10</p>
          <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Email" />
          <span class="input-group-btn">

          <button type="submit" class="btn btn-default btn-dark">Subscribe</button>
          </span>
          </div><!-- /.form-group -->

      </div><!-- /.footer-subscribe -->
    </div><!-- /.container -->
    </footer>
    <section class="footest white tiny-padding">
        <div class="container">
            <div class="copyrights pull-left">
                <p>&copy; <span class="footer-logo"><strong>XSPORTS</strong></span>. All rights reserved.</p>
            </div><!-- /.copyrights -->
            <nav class="footer-links pull-right">
                <ul class="list-inline">
                    <li>Home</li>
                    <li>About</li>
                    <li>Featured Blog</li>
                    <li>Editor's Pick</li>
                    <li>Career</li>
                    <li>Contact</li>
                </ul>
            </nav><!-- /.footer-links -->
        </div><!-- /.container -->
    </section><!-- /.footer-nav -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
